h1 {
    color: black;
    font-family: 'Papyrus', sans-serif;
}

strong {
    color: yellow;
    background: red;
}

p {
    font-family: 'Papyrus', sans-serif;
}

h3 {
    font-family: 'Papyrus', sans-serif;
}
